{% extends "base.html" %}
{% block titlecontent %}<title>Об авторе проекта</title>{% endblock %}
{% block content %}
    <h1>Привет!</h1>
    <p>
        Я Денис - разработчик этого сайта.
        Сомневаюсь, что кому-либо будет интересна информация обо мне ;-) Но раз ты читаешь эту страницу, значит я ошибаюсь)
        Мне 34 года, работаю в инжиниринговой компании. После университета разрабатывал проекты на deplhi,даже коммерческие были, но судьба увела меня в энергетику.
        Сейчас хочу вернуться в IT и работать удаленно, поэтому учусь на курсе Яндекс.Практикум. Не люблю верстать, но люблю кодить))
    </p>
{% endblock %}
