{% extends "base.html" %}
{% block titlecontent %}<title>Технологии</title>{% endblock %}
{% block content %}
    <div class="row">
        <h1>Вот что тут применялось:</h1>
        <aside class="col-12 col-md-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Python</li>
                <li class="list-group-item">Django</li>
                <li class="list-group-item">HTML+CSS</li>
            </ul>
        </aside>
        <article class="col-12 col-md-9">
            <p>
                Современные технологии - это большой пазл, который нужно обязательно уметь собирать в единое целое. БОльшая часть времени уходит на связывание различных библиотек и модулей, чем на написание кода. Интересно, как работают над большими проектами...
            </p>
        </article>
    </div>
{% endblock %}
